<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item inv-logo-container" href="/">
      <img src="/assets/mini-rouge.png" alt="logo" class="inv-logo">
    </a>
    <div class="navbar-item is-expanded field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-large" (click)="reset()">
          <span class="icon">
            <i class="fas fa-sync-alt"></i>
          </span>
        </a>
        <a class="button is-large" (click)="logout()">
          <span class="icon">
            <i class="fas fa-sign-out-alt"></i>
          </span>
        </a>
      </p>
    </div>
  </div>
</nav>