<section class="section">
  <div class="container">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input is-large" type="email" placeholder="Email" [(ngModel)]="user.username" name="username">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input is-large" type="password" placeholder="Password" [(ngModel)]="user.password" name="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>  
      <div class="field">
        <p class="control">
          <input type="submit" class="button is-primary is-fullwidth is-large" (click)="login()" value="Login">
        </p>
      </div>
    </form>
  </div>
</section>
<div class="modal" [ngClass]="{'is-active': isUnauthorized}">
  <div (click)="toggleIsUnauthorized()" class="modal-background"></div>
  <div class="modal-content">
    <div  class="hero is-warning">
      <div class="hero-body">
        <div class="containe has-text-centered">
          <h1 class="subtitle">
            Mauvais identifiants
          </h1>
        </div>
      </div>
    </div >
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="toggleIsUnauthorized()"></button>
</div>