@import '../../config.scss';

input { 
    text-align: center; 
}

.reset-button {
    position: fixed;
    bottom: 8px;
    right: 92px
}

.back-button {
    position: fixed;
    bottom: 8px;
    left: 8px
}

.save-button {
    position: fixed;
    bottom: 8px;
    right: 8px
}

.item-list {
	padding-bottom: 48px;
}

.popup-input {
	max-width: 72px;
}