<div class="item-list">
<!-- <div class="level">
  <div class="level-item">
    <app-search></app-search>
  </div>
</div> -->
  <div class="level" hidden>
    <div class="level-item">
      <div class="field">
        <div class="control">
          <input class="input is-rounded is-large" type="number" placeholder="Code barre" [(ngModel)]="barcode" name="barcode" (keydown)="onEnterAddBarcode($event)" readonly/>
        </div>
      </div>
    </div> 
  </div>
  <div class="save-button" >
    <button class="button is-warning is-large is-rounded" (click)="save()">
      <i class="fas fa-check"></i>
    </button>
  </div>
<!--   <div class="reset-button" >
    <button class="button is-warning is-large is-rounded" (click)="reset()">
      <i class="fas fa-undo-alt"></i>
    </button>
  </div> -->
  <div class="back-button" >
    <button class="button is-warning is-large is-rounded" [routerLink]="['/inventories']">
      <i class="fas fa-chevron-left"></i>
    </button>
  </div>
  <table class="table is-fullwidth" *ngIf="inventory" #tableItems>
    <tbody>
      <tr>
        <th>Produit</th>
        <th>T</th>
        <th>R</th>
      </tr>
      <tr *ngFor="let item of inventory.items; let i = index" [ngClass]="{'is-selected': isSelected(item)}" (click)="overidde(item)" [appScrollTo]="item.produce.id">
        <td class="">
          {{item.produce.name}}
        </td>
        <td class="">
          {{item.theoreticalQuantity | number:'1.0-3'}}
        </td>
        <td class="">
          {{item.actualQuantity | number:'1.0-3'}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="modal" [ngClass]="{'is-active': isOverriding}">
    <div (click)="toggleIsOverriding()" class="modal-background"></div>
    <div class="modal-content">
      <div class="field has-addons has-addons-centered">
        <p class="control">
          <a class="button is-primary is-large" (click)="incrementQuantity(-1)">
            <span class="icon is-large is-left">
              <i class="fas fa-minus"></i>
            </span>
          </a>
        </p>
        <p class="control">
          <input class="input is-large" type="number" placeholder=0 [(ngModel)]="lastAdded.actualQuantity" onclick="this.focus();this.select()" (keydown)="onEnterIncrement($event)">
        </p>
        <p class="control">
          <a class="button is-primary is-large" (click)="incrementQuantity(1)">
            <span class="icon is-large is-left">
              <i class="fas fa-plus"></i>
            </span>
          </a>
        </p>
      </div>
      <div class="field has-addons has-addons-right">
        <p class="control">
          <input class="input is-large popup-input" type="number" placeholder=0 [(ngModel)]="quantityToAdd" onclick="this.focus();this.select()" (keydown)="onEnterAdd($event)" readonly>
        </p>
        <p class="control">
          <a class="button is-primary is-large" (click)="incrementQuantity(quantityToAdd)">
            <span class="icon is-large is-left">
              <i class="fas fa-forward"></i>
            </span>
          </a>
        </p>
      </div>
      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <a class="button is-info is-large" (click)="saveOverride()">
            <i class="fas fa-check"></i>
          </a>
        </p>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="toggleIsOverriding()"></button>
  </div>
  <div class="modal" [ngClass]="{'is-active': false}">
    <div (click)="toggleIsScanning()" class="modal-background"></div>
    <div class="modal-content">
      <div class="field">
        <div class="control">
          <input class="input is-rounded is-large" type="text" placeholder="Code barre" [(ngModel)]="barcode" name="barcode" readonly/>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="toggleIsScanning()"></button>
  </div>
  <div class="modal" [ngClass]="{'is-active': cantFindProduce}">
    <div (click)="toggleCantFindProduce()" class="modal-background"></div>
    <div class="modal-content">
      <div  class="hero is-danger">
        <div class="hero-body">
          <div class="containe has-text-centered">
            <h1 class="subtitle">
              Produit introuvable...
            </h1>
          </div>
        </div>
      </div >
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="toggleCantFindProduce()"></button>
  </div>
</div>