<nav class="panel">
  <p class="panel-heading">
    Inventaires
  </p>
<!--   <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="search">
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div> -->
<!--   <p class="panel-tabs">
    <a class="is-active">En attente</a>
    <a>Brouillon</a>
  </p> -->
  <a class="panel-block" *ngFor="let inventory of inventories" [routerLink]="['/inventory', inventory.id]">
<!--     <span class="panel-icon">
      <i class="fas fa-inventory" aria-hidden="true"></i>
    </span> -->
    {{inventory.label}}
  </a>
  <div class="panel-block">
    <button class="button is-link is-outlined is-fullwidth" disabled>
      Nouvel inventaire
    </button>
  </div>
</nav>
