@import "../node_modules/bulma/sass/utilities/initial-variables";

$primary: #9BBFCC;
$accent: #AB1515;
$warning: #AB1515;
$danger: #AB1515;
$info: #9BBFCC;
$modal-content-width: 500px; 
$subtitle-color: #9BBFCC;
$dropdown-item-hover-color: $accent;
$link-hover: $accent;

//$modal-card-body-background-color: rgba($black, 0.86);
$modal-content-margin-mobile: 48px;
//$modal-card-body-padding: 4px;
//$link: $info;
$panel-block-active-color: $primary;

@import '../node_modules/bulma/sass/utilities/_all';
@import '../node_modules/bulma/sass/grid/_all';
@import '../node_modules/bulma/sass/elements/_all';
@import '../node_modules/bulma/sass/components/_all';
@import '../node_modules/bulma/sass/base/_all';
@import '../node_modules/bulma/sass/layout/_all';