<div class="field has-addons">
  <div class="control">
    <input class="input" type="number" placeholder="Code barre" [(ngModel)]="barcode" name="barcode">
  </div>
  <div class="control">
    <a (click)="addItem()" class="button is-primary">
      Ajouter
    </a>
  </div>
</div>